.bootsome-token-field {
	position: relative;
	min-height: $form-floating-height;

	.bootsome-token-select {
		position: absolute;
		top: 0px;
		height: 100%;
		left: 0px;
	}
	.bootsome-token-container {
		padding: calc($form-floating-input-padding-t + .1rem) $form-select-indicator-padding 0 calc($form-floating-padding-x * 3);
		display: flex;
		flex-wrap: wrap;

		.btn {
			z-index: 2;
			--bs-btn-padding-y: .0rem;
			--bs-btn-padding-x: .5rem;
			--bs-btn-font-size: .85rem;
		}
	}
}